html, body {
    height: 100%; 
}

.flex-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    height: 100%;
    background-color: rgb(138, 255, 249);
    padding: 20px;
}
.box {
    background-color: rgb(255, 223, 164);
    padding: 20px;
    width: 100px;
    text-align: center;
}
